html {
  height: 100%; }

body > #root > .App {
  min-height: 100%;
  overflow: hidden; }

.centered {
  text-align: center; }

.isDisabled {
  cursor: not-allowed !important;
  opacity: 0.5 !important; }

.isDisabled > a {
  color: currentColor;
  display: inline-block;
  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none; }

.dashboard {
  position: relative; }
  .dashboard .ant-card {
    border-radius: 0;
    margin-bottom: 24px; }
    .dashboard .ant-card:hover {
      box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05); }
  .dashboard .ant-card-body {
    overflow-x: hidden; }
  .dashboard .widget .add-widget {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer; }
    .dashboard .widget .add-widget h2 {
      color: #fff;
      margin-top: 8px; }

.number-card {
  padding: 32px;
  margin-bottom: 24px !important;
  cursor: pointer; }
  .number-card .icon {
    font-size: 54px;
    float: left; }
  .number-card .content {
    width: 100%;
    padding-left: 78px; }
    .number-card .content .title {
      line-height: 16px;
      font-size: 16px;
      margin-bottom: 8px;
      height: 16px; }
    .number-card .content .number {
      line-height: 32px;
      font-size: 24px;
      height: 32px;
      margin-bottom: 0; }

.line-chart .title {
  margin-left: 32px;
  font-size: 16px; }

.recents-table .ant-table-thead > tr > th {
  background: #fff; }

.comments-table .avatar {
  width: 48px;
  height: 48px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  background: #f8f8f8;
  display: inline-block; }
  .comments-table .avatar .ant-avatar-string {
    font-size: 2em;
    line-height: 48px;
    font-weight: 200; }

.comments-table .content {
  font-size: 13px;
  text-align: left;
  color: #757575; }

.comments-table .date {
  color: #a3a3a3;
  line-height: 30px;
  font-size: 13px; }

.comments-table .date-row {
  display: flex;
  justify-content: space-between; }

.comments-table .name {
  font-size: 14px;
  color: #474747;
  text-align: left; }

.comments-table .avatar-column {
  vertical-align: top; }

.area-chart .title {
  margin-left: 32px;
  font-size: 16px; }

.app-header {
  box-shadow: 0 2px #f0f1f2;
  z-index: 9;
  background: '#fff';
  padding: 0 24px; }
  .app-header .app-title {
    float: left; }
    .app-header .app-title a {
      text-decoration: none;
      line-height: 64px;
      font-size: 21px;
      display: inline-block; }
    .app-header .app-title .trigger {
      font-size: 18px;
      line-height: 64px;
      padding-right: 8px;
      cursor: pointer;
      transition: color 0.3s; }
      .app-header .app-title .trigger:hover {
        color: #1890ff; }
  .app-header .app-menu {
    float: right;
    margin-top: -1px; }
    .app-header .app-menu .profile-dropdown-menu {
      min-width: 180px; }
    .app-header .app-menu .profile-menu .user-full-name-info {
      font-size: 17px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.85); }

.app-sidebar .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px; }

.app-sidebar a {
  color: rgba(255, 255, 255, 0.65);
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .app-sidebar a:hover {
    color: #fff; }

.app-sidebar .ant-menu-item-selected a {
  color: #fff; }

.crud-actions button {
  border: transparent;
  text-transform: uppercase;
  padding: 0;
  margin-right: 15px;
  background: transparent; }
  .crud-actions button:hover {
    background: transparent; }

.crud-actions .edit-btn i,
.crud-actions .list-btn i,
.crud-actions .refresh-btn i {
  margin-right: 8px; }

.main-layout .main-content.auth-false {
  margin: 0; }

.main-layout .main-content.auth-true {
  margin: 0 16px; }

.login-page .picture {
  background: orange;
  height: 100vh; }

.error-page {
  height: 100vh; }
  .error-page .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .error-page .content .title {
      font-size: 12rem;
      margin-bottom: 0; }
    .error-page .content .desc {
      font-size: 2em; }
    .error-page .content .go-back-btn {
      text-transform: uppercase; }

.landing-page {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(76, 216, 255, 0.8), rgba(30, 108, 217, 0.8)), url("https://images.pexels.com/photos/213399/pexels-photo-213399.jpeg");
  background-size: cover;
  background-position: top;
  position: relative; }
  .landing-page .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .landing-page .main-heading {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: 5px; }
  .landing-page .sub-heading {
    display: block;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 7.4px;
    margin-bottom: 1em; }

.course-list button {
  text-transform: uppercase; }

.course-list .h-actions a,
.course-list .h-actions button {
  float: right;
  border: transparent;
  text-transform: uppercase; }

.course-list .course-card {
  margin: 20px 0; }
  .course-list .course-card .course-subject {
    text-transform: uppercase; }
  .course-list .course-card .course-name {
    font-size: 24px;
    margin-top: 8px; }
  .course-list .course-card .course-credits {
    font-weight: bold; }
  .course-list .course-card .actions {
    float: right; }

.course-details button {
  text-transform: uppercase; }

.course-details .course-subject {
  text-transform: uppercase; }

.course-details .course-name {
  font-size: 24px;
  margin-top: 8px; }

.course-details .course-credits {
  font-weight: bold; }

.course-details .actions {
  float: right; }

.edit-course button,
.new-course button {
  text-transform: uppercase; }

.edit-course .actions,
.new-course .actions {
  float: right; }

.student-details .actions {
  float: right; }

.student-details .student-name {
  font-size: 24px;
  margin-top: 8px;
  display: inline-block; }

.student-details .status {
  color: #ddd;
  font-weight: bold; }
  .student-details .status.ACTIVE {
    color: green; }
  .student-details .status.PENDING {
    color: yellow; }
  .student-details .status.INACTIVE {
    color: red; }

.edit-student button,
.new-student button {
  text-transform: uppercase; }

.edit-student .actions,
.new-student .actions {
  float: right; }

.student-list .status {
  font-weight: bold; }

.student-list .status.status-PENDING {
  color: #fec324; }

.student-list .status.status-ACTIVE {
  color: #33cd7b; }

.student-list .status.status-INACTIVE {
  color: #fe464d; }

.account .account-avatar {
  width: 220px;
  height: 220px;
  margin: auto;
  display: block; }

.account .account-name {
  font-size: 24px;
  margin-top: 8px; }

.account .account-email {
  display: inline-block; }

.account-details .actions {
  float: right; }

.edit-account button,
.new-account button {
  text-transform: uppercase; }

.edit-account .actions,
.new-account .actions {
  float: right; }

.role-list .role {
  font-weight: bold; }

.role-list .role.active-0 {
  color: #fe464d; }

.role-list .role.active-1 {
  color: #33cd7b; }

.permission-details button {
  text-transform: uppercase; }

.permission-details .permission-name {
  font-size: 24px;
  margin-top: 8px; }

.permission-details .actions {
  float: right; }

.audit-log .actor-role {
  float: left; }

.audit-log .actor-info {
  display: inline-block;
  margin-left: 0.8rem;
  line-height: 0.95rem; }
  .audit-log .actor-info a {
    display: block; }
